
.container-box-courses{
    background-color: var(--bs-back-main-2);
      border-radius: 1rem;
}
.swiper-button-prev{
    background-color: var(--bs-body-bg);
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.swiper-button-next{
    background-color: var(--bs-body-bg);
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.swiper-button-next::after ,
.swiper-button-prev::after{
    color: var( --bs-body-color);
}
.swiper-button-next:hover ,
.swiper-button-prev:hover{
    background-color: var(--bs-body-bg);
}
.img-courses img{
    width: 300px;
    cursor: pointer;
}
.info-box-courses{
    cursor: pointer;
}
.info-box-courses h3{
    font-family: var(--bs-font-bold);
    margin: 10px 5px;
    font-size: 1.5rem;
color: var(    --bs-text-color);
}
.info-box-courses p{
    font-family: var(--bs-font-md);
    margin: 10px 5px;
    color: #6b7280;
    font-size: 14px;
}
.date-score-season{
    display: flex;
    justify-content: start;
    margin: 10px 5px;
}
.date-score-season span{
    font-family: var(--bs-font-md);
    font-size: 0.8rem;
    color: #6b7280;
}

.img-course img{
    width: 50px;
}
.info-teacher-course{
    width: 100%;

}
.info-teacher-course span{
    font-family: var(--bs-font-md);
}
.info-teacher h3{
font-size: 1rem;
}
.btn-courses{
    font-family: var(--bs-font-md);
    background-color: #6666;
    padding: 15px 10px;
    border-radius: 20px;
    border: none;
    background-color: var(--bs-submenu-bg);
    color: aliceblue;
    transition: all 0.3s ease;
}
.btn-courses:hover{
    background-color: #600707;
}