.video-container {
  max-width: 90%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* سایه ویدیو */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: aliceblue;
}
