.custom__offcanvas{
  z-index: 999999 !important;
}
.search__Input{
  font-family: var(--bs-font-md);
  font-size: 15px;
  color: #6b7280;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: var(--bg-utility-navbar);
}
.search__Input input{
  width: 80%;
  border: none;
  outline: none;
  margin-right: 10px;
  background: none;
  color: #6b7280;
}
/* دکمه همبرگر */
.hamburger-menu {
    background-color: var(--bg-utility-navbar);
    color: var(--bs-btn-bg);
    padding: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 10px;
  }
  .hamburger-menu span {
    width: 25px;
    height: 3px;
    background: var(--primary-color);
  }
  /* نمایش دکمه همبرگر فقط در موبایل */
/* نمایش فقط در موبایل */
.hamburger-menu {
    display: none;
    cursor: pointer;
    padding: 10px;
  }
  
  
  @media (max-width: 992px) {
    .hamburger-menu {
      display: flex;
      align-items: center;
    }
  }

  .selection__list__navbar{
    display: flex;
    justify-content: space-between;
    align-items:self-start;
  }