@font-face {
  font-family: "YakanBakh";
  src: url("../../assets//fonts/YekanBakh-Black.ttf") format("truetype");
}
@font-face {
  font-family: "YakanBakhMedium";
  src: url("../../assets//fonts/YekanBakh-Regular.ttf") format("truetype");
}

#navbar {
  border-bottom: 1px solid #3e424b;
}
#navbar-container {
width: 80%;
}
.search-box{
  
}
.logo-navbar {
  width: 90px;
}
#navbar-menus {
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--bs-font-md);
}
.nav_link {
  width: 100%;
  cursor: pointer;
  color: #6b7280;
}
.nav_link:hover {
  color: var(--bs-menu-bg);
}

.subMenu {
  position: absolute;
  top: 5.5rem;
  background-color:var(--bs-body-bg);
  transition: all 200ms ease-in-out;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  width: 200px;
  z-index: 10000;
  padding: 1rem;
  border-bottom: 3px solid gray;
  opacity: 0;
  visibility: hidden;
}

.nav_link:hover .subMenu {
  opacity: 1;
  visibility: visible;
  top: 6rem;
}
/* .subMenu {
  width: 100%;
  } */
  .subMenu li {
    display: flex;
    justify-content: space-between;
    align-items: start;
    list-style: none;
    width: 100%;
    margin-bottom: 15px;
  cursor: pointer;
  font-family: var(--bs-font-md);
  color: #6b7280;
}
.subMenu li:hover {
  color: var( --bs-submenu-bg);
}

._icon_Navbar {
  background-color: var( --bg-utility-navbar);
  color: var( --bs-btn-bg);
  padding: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.icon-close-searchBox{
  width: 60px;
  height:60px;
  margin-right: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var( --bg-utility-navbar);
  cursor: pointer;
  transition: all 0.3s ease;
  color: #6b7280;
}
.icon-close-searchBox:hover {
  color: var(--bs-btn-hover);
}
.userLoginInfo{
    cursor: pointer;
}

.userLoginInfo h3 {
  font-size: 15px;
  font-family: var(--bs-font-bold);
  color: var( --bs-body-color);
}
.userLoginInfo p {
  font-size: 12px;
  font-weight:bold;
  font-family: var(--bs-font-md);
  color: #6b7280;
}
.userLoginArrow{
    color: var(--bs-btn-bg);
}

.number_product{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--bs-submenu-bg);
    top: -6px;
    left: -6px;
    font-family: var(--bs-font-md);
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.ping-effect {
  position: absolute;
  display: inline-flex;
  width: 20px;
  height: 20px;
  background-color: rgb(251, 134, 134); /* معادل bg-primary */
  opacity: 0.75;
  border-radius: 50%;
  animation: ping 1s infinite ease-out;
}
