
#container-most {
  background: linear-gradient(
    to right,
    var(--bs-body-bg) 0%,
    var(--bs-body-bg) 40%,
    var(--bs-body-bg) 70%,
    var(--bs-main-color2) 90%,
    var(--bs-main-color) 100%
  );
  
}

.icon-popular-bac{
  padding: 12px;
  border-radius: 50%;
  background-color: #9f0e0e;
}
.icon-popular{
  color: white;
}
.text-poular h4{
  font-family: var(--bs-font-bold);
  color: #9f0e0e;
}
.text-poular p{
  font-family: var(--bs-font-md);
  color: var( --bs-body-color);
}

.text-poular{
  margin-right: 10px;
}

.btn-popular button{
  color: var( --bs-btn-bg);
  background-color: var(--bs-body-bg);
  padding: 10px 13px;
  border-radius: 30px;
  font-family: var(--bs-font-md);
  border: none;
  transition: all 0.3s ease;
}
.btn-popular button:hover{
color: #9f0e0e;
background-color: var(--bs-body-bg);
}
