@font-face {
 font-family: "YekanBakh";
 src: url("./../../assets/fonts/YekanBakh-ExtraBlack.ttf");
}
@font-face {
    font-family: "YekanBakhRegular";
    src: url("./../../assets/fonts/YekanBakh-Bold.ttf");
  }
  @font-face {
    font-family: "YekanBakhMedium";
    src: url("./../../assets/fonts/YekanBakh-SemiBold.ttf");
  }
#container{
  /* margin-top: -30rem; */
}

#title{
    font-size: 3rem;
    color: #ffffff;
    font-family: "YekanBakh";
}

#title-category{
    font-family: "YekanBakhRegular";
    font-size:1.3rem;
}
#btn-category{
    border: none;
    color: #ffffff;
    padding: 1rem;
    font-family: "YekanBakhMedium";
}

  /* تغییر رنگ آیکون فلش */
  .swiper-button-next::after,
  .swiper-button-prev::after {
    color: rgb(255, 255, 255); /* رنگ فلش */
    font-size: 18px; /* اندازه فلش */
  }
  
  /* تغییر استایل هنگام هاور */
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  /* استایل دکمه‌های غیرفعال (موقعی که به آخر اسلاید برسیم) */
  .swiper-button-disabled {
    opacity: 0.3;
    pointer-events: none;
  }
  
  /* مخفی کردن دکمه‌ها در موبایل */
  @media (max-width: 768px) {
    .swiper-button-next, .swiper-button-prev {
      display: none;
    }
  }
  .swiper-pagination {
    bottom: 10px !important; /* مقدار را بیشتر یا کمتر کن تا تنظیم شود */
    z-index: 1000;
    position: absolute;
  }
  .swiper-pagination-bullet{
    background-color: #f16969;
    opacity: 0.5;
  }
  .swiper-pagination-bullet-active{
    background-color: #ff0000;
    opacity: 1;
  }
