.details-course {
  background-color: var(--bs-body-bg);
  border: 1px solid #958c8c20;
}
.title-img-course img {
  z-index: 1000;
  border-radius: 30px 30px 0 0;
}
.details-course h3 {
  font-family: var(--bs-font-bold);
  color: var(--bs-text-color);
}
.details-course p {
  font-family: var(--bs-font-md);
  color: #6b7280;
}
.detail-course {
  position: relative;
  bottom: 20%;
  background: linear-gradient(
    to right,
    var(--bs-body-bg) 0%,
    var(--bs-body-bg) 40%,
    var(--bs-body-bg) 70%,
    var(--bs-main-color2) 90%,
    var(--bs-main-color) 100%
  );

  font-family: var(--bs-font-md);
  border-radius: 0 0 30px 30px;
}
.detail-course h4 {
  font-family: var(--bs-font-bold);
  margin: 10px 0;
  color: var(--bs-text-color);
}
.detail-course p {
  color: #6b7280;
}
.box-info {
  background-color: var(--bg-utility-navbar);
  width: 50%;
  margin-left: 10px;
  padding: 20px 0;
  border: 1px solid #93939338;
}
.icon-contact {
  background-color: var(--bs-body-bg);
}
.icon-info-couse-box {
  color: #9f0e0e;
}
.box-info span {
  font-family: var(--bs-font-bold);
  color: #5e6470;
  font-size: 15px;
  margin: 10px 0;
}
.box-info p {
  font-family: var(--bs-font-md);
  color: var(--bs-body-color);
}
.title-accordion {
  background-color: transparent;
  font-family: var(--bs-font-bold);
  margin-left: 10px;
  color: var(--bs-text-color);
}

/* accordion bg transparent */
.accordion-button {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none;
  outline: none;
}

.accordion-button:hover {
  background-color: transparent;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.accordion-button.collapsed {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.accordion-button::after {
  display: none !important;
}

/* 180 deg in icon */

.accordion-button .accordion-icon {
  transition: transform 0.3s ease;
}

.accordion-button:not(.collapsed) .accordion-icon {
  transform: rotate(180deg);
}
/* finish 180 deg in icon */

/* حالت کلی برای دکمه آکاردیون */
.accordion-button {
  color: var(--bs-text-color); /* یا هر رنگی که می‌خوای */
  background-color: transparent;
}

/* حالت وقتی که باز میشه */
.accordion-button:not(.collapsed) {
  color: var(--bs-text-color); /* همین رنگ بمونه */
  background-color: transparent;
}

.box-accordion {
  color: var(--bs-text-color);
  border: 1px solid #a8a2a220;
  border-radius: 10px;
  text-align: center;
}
.time-accordion-box,
.title-accordion-box {
  font-family: var(--bs-font-md);
}
.num-box {
  font-family: var(--bs-font-md);
  color: var(--bs-btn-hover-light);
  font-size: 18px;
}
.title-box-accordion h4 {
  font-family: var(--bs-font-bold);
  font-size: 15px;
  margin: 0 20px;
}
.detail-box-accordion button {
  font-family: var(--bs-font-md);
  color: #6b7280;
  padding: 10px 20px;
  border-radius: 30px;
  margin-right: 20px;
  border: none;
  font-size: 15px;
  transition: all 0.3s ease;
  background-color: var( --bg-utility-navbar);
}

.detail-box-accordion button:hover {
  background-color: var(--bs-btn-hover);
  color: var(--bs-body-color);
}

/* ُSide Course info */

.side-course-info {
  width: 100%;
  bottom: 20%;
  bottom: 20%;
  background: linear-gradient(
    to top,
    var(--bs-body-bg) 0%,
    var(--bs-main-color2) 40%,
    var(--bs-main-color2) 70%,
    var(--bs-main-color2) 90%,
    var(--bs-main-color) 100%
  );
  border-radius: 20px;

}
.container-side-Course-info{
  position: sticky;
  top: 110px;
}
.title-sideCourse {
  background-color: var(--bs-card-bg);
  border-radius: 0 0 20px 20px;
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  font-family: var(--bs-font-bold);
}
.name-course {
  font-family: var(--bs-font-md);
}
.name-course h4 {
  font-size: 20px;
  color: #5e6470;
}
.prices {
  font-family: var(--bs-font-md);
}
.price-sideCourse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}
.price-off {
  color: #3c3f48;
}
.price-course {
  font-size: 18px;
}

.btn-sideCourse {
  font-family: var(--bs-font-md);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-sideCourse button {
  background-color: #9f0e0e;
  color: #fff;
  width: 80%;
  padding: 15px;
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.btn-sideCourse button:hover {
  background-color: #600707;
}

.teacher-title h3{
  font-family: var(--bs-font-bold);
  font-size: 17px;
}
.teacher-profile img{
border-radius: 50%;
width: 50px;
height: 50px;
}
.teacher-info-profile h4{
  font-family: var(--bs-font-bold);
  font-size: 18px;
}
.teacher-info-profile span{
  font-family: var(--bs-font-md);
  font-size: 15px;
  color: #9f0e0e;
}
.teacher-about{
  background-color: var(--bg-utility-navbar);
  padding:  15px;
  font-family: var(--bs-font-md);
  border-radius: 15px 0 15px 15px;
}
.teacher-about p{
  font-size: 16px;
  color: #6b7280;
}